:root {
    --main-color-1: hsl(222, 100%, 16%);
    --main-color-2: hsl(230, 59%, 10%);
    --main-color-3: hsl(20, 60%, 97%); 
    --secondary-color-1: hsl(213, 93%, 24%);
    --secondary-color-2: hsl(197, 80%, 35%);
    --main-gradient: linear-gradient(143deg, #0a0f27,#001952,#043775,#12769e,#fcf6f3);                               
    --secondary-gradient: linear-gradient(49deg, #001952,#12769e,#043775,#0a0f27);

    --font-title: "Zen Dots", sans-serif; ; 
    --main-font: "Open Sans", sans-serif ;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-color-3);
    color: var(--main-color-1);
    font-family: var(--main-font);
}




/* Navbar */
.navbar {
    height: 100vh;
    width: 20%;
    padding: 20px;
    background-color: var(--main-color-1);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.navbar .logo h1 {
    font-size: 3rem;
    font-family: var(--font-title);
    color: var(--main-color-3);
}

.navbar .logo {
    font-size: 1.5rem;
    font-family: var(--main-font);
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.navbar .nav-links .navlink a{
    text-decoration: none;
    color: var(--main-color-3);
    font-family: var(--main-font);
    font-size: 2rem;
}

.navbar .nav-links .navlink {
    transition: transform 0.3s ease-in-out;
}

.navbar .nav-links .navlink:hover {
    transform: translateX(10%);
    text-decoration: underline;
    text-underline-offset: 4px;
}




/* section A propos */
.s-a-propos {
    height: auto;
    width: 80%;
    padding: 8%;
    position: relative;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.s-a-propos h2 {
    font-family: var(--font-title);
    font-size: 2.3rem;
}

.s-a-propos p {
    text-align: center;
    font-size: 1.3rem;
    font-family: var(--main-font);
}



/* section projets */
.s-projets {
    height: auto;
    width: 80%;
    position: relative;
    left: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    margin-top: 80px;

  }

  .s-projets h2 {
    color: var(--main-color-1);
    font-size: 2.3rem;
    font-family: var(--font-title);
  }

  .container-projets {
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .box-projet-left {
    height: 250px;
    width: 48%;
    background-color: var(--secondary-color-1);
    border: solid 2px var(--main-color-2);
    border-radius: 0 20px 20px 0;
    transition: transform 0.3s ease-in-out;
  }
  
  .box-projet-right {
    height: 250px;
    width: 48%;
    background-color: var(--secondary-color-1);
    border: solid 2px var(--main-color-2);
    border-radius: 20px 0 0 20px;
    transition: transform 0.3s ease-in-out;
  }


.project-1 {
    transform-origin: top left;
}
.project-2 {
    transform-origin: top right;
}
.project-3 {
    transform-origin: bottom left;
}
.project-4 {
    transform-origin: bottom right;
}

.project-1:hover, .project-2:hover, .project-3:hover, .project-4:hover  {
    transform: scale(1.5, 1.5);
}

.s-projets:has(.project-1:hover) .project-2{transform: scaleX(0.5);}
.s-projets:has(.project-1:hover) .project-3{transform: scaleY(0.5);} /*
.s-projets:has(.project-1:hover) .project-4{transform: scale(0.5, 1);} */

.s-projets:has(.project-2:hover) .project-1{transform: scaleX(0.5);}/*
.s-projets:has(.project-2:hover) .project-3{transform: scale(0.5);} */
.s-projets:has(.project-2:hover) .project-4{transform: scaleY(0.5);}

.s-projets:has(.project-3:hover) .project-4{transform: scaleX(0.5);}
.s-projets:has(.project-3:hover) .project-1{transform: scaleY(0.5);} /*
.s-projets:has(.project-3:hover) .project-2{transform: scale(0.5);} */

.s-projets:has(.project-4:hover) .project-3{transform: scaleX(0.5);}
.s-projets:has(.project-4:hover) .project-2{transform: scaleY(0.5);} /*
.s-projets:has(.project-4:hover) .project-1{transform: scale(0.5);} */


  

/* section expériences */
.s-experiences {
    height: auto;
    width: 80%;
    position: relative;
    left: 20%;
    display: flex;
    flex-direction: column;
    margin-top: 180px;
}


.s-experiences::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(50% - 1px);
    height: 100%;
    width: 2px;
    background: var(--main-color-1);
    z-index: -1;
}

.fleche {
    text-align: center;
    position: relative;
    top:10px

}

.s-experiences h2 {
    color: var(--main-color-1);
    padding-left: 30px;
    font-size: 2.3rem;
    font-family: var(--font-title);
}

.content-area {
    height: 380px;
    width: 100%;  /*
    border: solid 3px #12769e; */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 50px;
}

.ca1, .ca3 {
    flex-direction: row-reverse;
}

.img-exp {
    height: 300px;
    width: 600px;
    object-fit: cover;
}

.zone-text-1 {
    height: 300px;
    width: 500px; /*
    border: solid 3px #043775; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.zt1l {
    position: relative;
    left: 8%;
}

.zt1r {
    position: relative;
    right: 8%;
    align-items: end;
}

.zone-text-1 p {
    background-color: rgb(208, 206, 206);
    padding: 20px;
}


/* section skills*/
.s-skills {
    height: auto;
    width: 80%;
    position: relative;
    left: 20%;
    display: flex;
    flex-direction: row;
    margin-top: 100px ;
}

.zone-text-2 {

    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 50px;
    gap: 30px;
    height: 400px;
    width: 500px;
}



.languages {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(3, 1fr);
    gap: 35px;
    margin: 100px;
}


.icon {
height: 90px;
width: 90px;
border-radius: 50%;
border: solid 3px lightgray;
display: flex;
justify-content: center;
align-items: center;
transition: all 0.3s ease-in-out;
}

.icon:hover {
    transform: scale(1.3)
}

.icon img{
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.i1 {
    grid-column:1 ;
    grid-row: 1 ;
}

.i2 {
    grid-column: 2;
    grid-row:1 ;
}

.i3 {
    grid-column:3 ;
    grid-row:1 ;
}

.i4{
    grid-column: 1;
    grid-row:2 ;
}




/*footer*/
footer {
    display: flex;
    width: 80%;
    position: relative;
    left: 20%;
    flex-direction: column;
    background-color: #001952;
    height: 300px;
}

.contact {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.icon-c {
    height: 60px;
    width: 60px;
    border-radius: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color-3);
    transition: all 0.2s ease ;
}

.icon-c:hover {
    cursor: pointer;
    border: solid 3px var(--main-color-1);
}

.icon-c img {
    object-fit: cover;
    height: 50px;
    width: 50px;
}

.icon-c .ic-img1 {
    height: 70px;
    width: 70px; 
}

.icon-c .ic-img4 {
    height: 40px;
    width: 40px; 
}

.icon-c .ic-img5 {
    height: 40px;
    width: 40px; 
}

.zone-text-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: whitesmoke;
}

.i-top {
    margin-top: 40px;
    height: 30px;
    width: 30px;
    transition: all 2s ease;
}

.i-top:hover {
    cursor: pointer;
    transform: translateY(2rem);
}

/* responsive */
@media only screen and (max-width: 1300px) {

/* navbar */  
    .navbar .logo h1 {
        font-size: 2.5rem;
    }
    
    .navbar .logo {
        font-size: 1rem;
    }
    
    .navbar .nav-links {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .navbar .nav-links .navlink a{
        font-size: 1.5rem;
    }

    /* responsive section experiences */
    .zone-text-1 p {
        max-height: 200px;
        overflow: hidden;
    }

    /* skills responsive */
    .languages {
        margin: 50px;
    }
    
    .zone-text-2 {
        padding: 30px;
    }


}


@media only screen and (max-width: 900px) {

    /*navbar*/
    .navbar {
        max-height: 25vh;
        width: 100%;
        position: relative;
    }

    .logo {
        height: 5vh;
        margin: 10px;
        max-width: 100%;
        padding: 20px;
        font-size: 0.8rem;
    }


    .navbar .nav-links{
        height: 20vh;
        flex-direction: row;

    }

    .navbar ul li{
        height: auto;
        font-size: 0.6rem;
        display: flex;
        flex-direction: row;
    }

    .navbar .nav-links .navlink {
        height: 80px;
        text-align: center;
    }

    .navbar .nav-links .navlink:hover {
        transform: none;
    }

    .navbar .nav-links .navlink:hover {
        transform: none;
        animation: bounce 1.1s ease-in-out;
    }

    @keyframes bounce {
        0%, 100% {
            transform: translateY(0);
        }
        25% {
            transform: translateY(-30px);
        }
        50% {
            transform: translateY(0);
        }
        75% {
            transform: translateY(-15px);
        }
    }

    /* alignement des sections */
    .s-a-propos, .s-projets, .s-experiences, .s-skills, footer {
        height: auto;
        width: 100%;
        left: 0;
    }

    /*  section skills */
    .zone-text-2 {
        max-height: 400px;
        overflow: hidden;
    }

    /* section skills responsive */
    .languages {
        margin: 20px;
    }
    
    .zone-text-2 {
        padding: 20px;
    }
    
    .s-skills {
        margin-top: 50px;
    }

}


@media screen and (max-width: 750px) {
    .s-skills {
        width: 100%;
        left: 0;
        flex-direction: column;
        margin-top: 30px;
    }
    
    .zone-text-2 {
        width: 100%;
        padding: 20px;
        height: auto;

    }

    .languages {
        margin-left: 80px;
    }
    

}